#menu {
    .container {
        .admin-title {
            margin-top: 50px;
            position: relative;
            h2 {
                font-size: 3rem;
                font-weight: 600;
            }
            hr {
                margin: 0;
                position: absolute;
                left: -170px;
                top: 27px;
                width: 160px;
                height: 3px;
                background: $primary-color;
                border-radius: 500px;
                border: none;
            }
        }
        .menu-table {
            .table {
                font-size: 1rem;
            }
        }
    }
}
