#dashboard {
    .container {
        .admin-title {
            margin-top: 50px;
            position: relative;
            h2 {
                font-size: 3rem;
                font-weight: 600;
            }
            hr {
                margin: 0;
                position: absolute;
                left: -170px;
                top: 27px;
                width: 160px;
                height: 3px;
                background: $primary-color;
                border-radius: 500px;
                border: none;
            }
        }
        .dashboard-content {
            margin: 100px auto;
            height: 400px;
            width: 1000px;
            .dashboard-menu {
                .d-menu-details {
                    height: 100%;
                    border-radius: 20px;
                    margin-right: 10px;
                    background: $primary-color;

                    .d-menu-numbers {
                        font-weight: 500;
                        font-size: 15rem;
                        text-align: center;
                        padding: 20px;
                    }
                    .d-menu-detail {
                        padding-bottom: 20px;
                        text-align: center;
                        font-size: 3rem;
                        color: #fff;
                    }
                }
            }
        }
    }
}
