#sidenav {
    border-right: $primary-color 3px solid;
    .side-title {
        h2 {
            color: #fff;
            font-family: "Pacifico", cursive;
            font-size: 2rem;
            text-align: center;
            span {
                color: $primary-color;
            }
        }
        hr {
            background: $primary-color;
            width: 100px;
            height: 3px;
            border: none;
        }
    }
    .side-navigation {
        li {
            padding-left: 20px;
            a {
                color: #fff;
                transition: color 0.2s ease-in-out;
                &:hover {
                    color: $primary-color;
                }
            }
        }
        .nav-link {
            display: block;
            padding: 0.5rem 0rem;
        }
        .dropdown-menu {
            background: $grey-1;
            padding: 0;
        }
    }
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $secondary-color;
    overflow-x: hidden;
    padding-top: 20px;
    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 1rem;
        color: #fff;
        display: block;
        &:hover {
            color: $primary-color;
        }
    }
}
.admin-main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
